.services-menu-parent {
  padding-top: 50px;
  margin: 60px 0;
}
.services-menu-page {
  background-color: #ededef;
  display: flex;
}

.services-menu-page-left-path {
  width: 62%;
  padding: 60px 30px !important;
  text-align: justify;
  font-family: "Lato";
}
.services-menu-page-left-path h2 {
  text-decoration: underline;
  text-decoration-color: #7d0909;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
  color: #444343;
}
.services-menu-page-left-path h2::before {
  content: "";
  position: absolute;
  top: 14%;
  left: 25px;
  transform: translateY(-50%);
  width: 0%;
  height: 2px;
  background: #7d0909;
  z-index: 5;
  transition-duration: 0.5s;
}
.services-menu-page-left-path p {
  color: #333 !important;
  line-height: 19px;
  font-size: 16px;
  text-align: justify;
}
.services-menu-page-left-path > p > strong {
  color: #7d0909;
  font-weight: bold;
  font-size: 16px;
  text-align: justify;
}
.services-menu-page-left-path ul li {
  list-style: none;
  font-size: 16px;
  color: #333;
  display: list-item;
  line-height: 1.4;
}
.services-menu-page-left-path ul li::before {
  content: "\f00c";
  font-family: FontAwesome;
  padding: 5px 10px;
  font-size: 12px;
  color: #7d0909;
}
.services-menu-page-right-path {
  width: 35%;
}
.services-menu-page-right-path img {
  object-fit: cover;
  max-width: 73%;
  margin-top: -45px;
  margin-left: 20%;
  margin-right: 30px;
}

@media only screen and (max-width: 1280px) {
  .services-menu-page-right-path img {
    margin-top: -55px;
  }
}
@media only screen and (max-width: 1040px) {
  .services-menu-page {
    flex-wrap: wrap-reverse;
  }

  .services-menu-page-left-path {
    width: 100%;
  }
  .services-menu-page-right-path {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .services-menu-page-right-path img {
    width: 35%;
  }
}
@media only screen and (max-width: 766px) {
  .services-menu-page-right-path img {
    margin-top: 0;
  }
  .services-menu-page-left-path ul li {
    margin-left: -4%;
  }
  .services-menu-parent {
    margin: 100px 0;
    padding: 0;
  }
}
