body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #666666;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-parent {
  position: fixed;
  z-index: 999;
}
.menu-list {
  display: block;
}

.nav-bar {
  height: 88px;
  position: fixed !important;
  top: 0;
  background-color: #7497b1;
}
.nav-bar > div {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}
.hidden-menu {
  display: none;
}
.nav-div {
  justify-content: start !important;
  text-align: start;
}

.nav li {
  list-style-type: none;
  display: inline;
  font-size: 16px;
}
.nav span {
  margin-left: 2.5%;
  margin-right: -2.5%;
  font-weight: bold;
  font-size: 15px;
}
.alert-menu .nav-link {
  display: block;
}
.menu-alert-service {
  width: 18%;
  background-color: #7497b1;
  position: absolute;
  top: 88px;
  left: 37%;
  color: white;
  display: block !important;
}
@keyframes changeTop {
  from {
    top: 105px;
    opacity: 0;
  }
  to {
    top: 88px;
    opacity: 1;
  }
}
.menu-alert-service > div > div {
  position: relative;
}
.menu-alert-service .nav-link span {
  right: 0;
  position: absolute;
}
.alert-menu .nav-link {
  margin-bottom: 6%;
  font-size: 21px;
}
.menu-alert-admin-service {
  width: 18%;
  background-color: #7497b1;
  position: absolute;
  top: 88px;
  left: 55%;
  color: white;
  display: block !important;
}
.menu-alert-financ-service {
  width: 18%;
  background-color: #7497b1;
  position: absolute;
  top: 130px;
  left: 55%;
  color: white;
  display: block !important;
}
.menu-alert-about {
  width: 11%;
  background-color: #7497b1;
  position: absolute;
  top: 88px;
  left: 47%;
  color: white;
  display: block !important;
}

.menu-list .menu-alert-about,
.menu-list .menu-alert-service,
.menu-list .menu-alert-admin-service {
  animation: changeTop 1s alternate;
}

.menu-list .menu-alert-financ-service {
  animation: changeTopService 1s alternate;
}
@keyframes changeTopService {
  from {
    top: 150px;
    opacity: 0;
  }
  to {
    top: 130px;
    opacity: 1;
  }
}

.remove-alert-menu {
  display: none !important;
}
.nav-link {
  color: white;
  font-size: 24px;
  padding: 0 27px;
  text-decoration: none;
  font-size: bold;
}
.nav li:hover::before {
  width: 8%;
  font-weight: bold;
}
.alert-menu .nav-link:hover::before {
  width: 80%;
  font-weight: bold;
}

.nav li::before,
.alert-menu > div .nav-link::before {
  content: "";
  position: absolute;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  width: 0;
  height: 2px;
  background: #fff;
  z-index: 5;
  transform: translateY(-50%);
  top: 85%;
}
.alert-menu > div .nav-link::before {
  margin-top: 12%;
  top: auto;
}
.alert-menu .nav-link-larg::before {
  margin-top: 20% !important;
}
.menu-alert-about .nav-link::before {
  margin-top: 17% !important;
}
.logo img {
  margin-left: 20%;
  width: 240px;
}

.contact-box {
  font-size: 19px;
  font-weight: 600;
  color: #7d0909;
  line-height: 22px;
}
.phone-box {
  width: 160px;
}
.phone-box i {
  transform: rotate(90deg);
}
.mail-box .contact-link {
  padding-left: 10px;
}
.contact-link {
  text-decoration: none;
  color: #7d0909;
}
.contact-link i {
  margin-right: 10px;
}
.phone-box :hover,
.mail-box :hover {
  color: white;
}

.start-page {
  color: #666666;
  margin: 88px 0;
  background: url(http://adminline.co.uk/wp-content/uploads/2020/04/aqw-02-scaled.jpg)
    #ededef;
  background-repeat: no-repeat;
  background-size: contain;
}
#start-page-content {
  padding: 80px 90px;
}

#start-page-content h2 {
  font-size: 54px;
  font-weight: bold;
  color: #7497b1;
}
#start-page-content h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 60px;
  font-size: 30px;
  text-align: left;
  color: #83838b;
  line-height: 30px;
}
#start-page-content h4 {
  margin-top: 95px;
  text-align: left;
  font-size: 22px;
  text-transform: inherit !important;
  color: #204765;
}

/*<<<<<<<<<<<< Service Page >>>>>>>>>>>*/

.services {
  background: #e9e9e9;
  position: relative;
  margin: 180px 0 100px 0;
  padding: 0 90px;
  padding-bottom: 150px;
}
#services-content {
  margin: 120px 0;
  padding-right: 30px;
}

#services-content::before,
#home-page-content::before,
#start-page-content::before,
#about-content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4%;
}
.column-hover-move::before {
  height: 70%;
  transform: translateY(-50%);
  width: 4px;
  background: #7d0909;
  z-index: 5;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.column-move::before {
  height: 0%;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transform: translateY(-50%);
  width: 4px;
  background: #7d0909;
  z-index: 5;
}
#services-content h2 {
  text-align: center;
  color: #7497b1;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#services-content p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #333 !important;
  text-align: justify;
}
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background: #7497b1;
  border: 12px none #ffffff;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #e9e9e9;
  border: 14px none #ffffff;
  border-radius: 50px;
}

.services-boxes {
  background-image: url(image/bg-services.png);
  background-size: 100% 100%;
  position: absolute;
  top: -100px;
  right: 45px;
  left: 46%;
  min-width: 600px;
  padding-bottom: 20px;
}
.service-box-path > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}
.services-box,
.services-box-smoll,
.services-box-great {
  background-color: rgba(247, 247, 247, 0.7);
  text-align: center;
  padding: 0px 1%;
  margin: 0% 2%;
  padding: 10px 0 10px 0;
  min-height: 160px;
  letter-spacing: 1px;
}
.service-box-link {
  text-decoration: none;
}

.services-box-great {
  min-height: 400px;
  margin: 10px;
  line-height: 23px;
}

.services-boxes h1 {
  color: #fff;
  justify-content: center;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
}

.services-box img,
.services-box-smoll img,
.services-box-great img {
  text-align: center;
  vertical-align: middle;
  max-height: 40px;
}

.services-box h3,
.services-box-smoll h3,
.services-box-great h3 {
  transition: all 0.5s linear 0s;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 3%;
  color: #444343;
}
.services-box-great h3 {
  color: #7d0909 !important;
  font-weight: bolder;
  padding: 5px !important;
}
.services-box p,
.services-box-smoll p,
.services-box-great p {
  line-height: 22px;
  color: #333 !important;
  font-size: 19px;
  text-align: center;
}

.services-box:hover,
.services-box-smoll:hover,
.services-box-great:hover {
  background-color: white;
}
.services-box:hover > h3,
.services-box-smoll:hover > h3 {
  color: #00a2ff;
  transition-duration: color 5s;
}

/*<<<<<<<<<<<< Home Page >>>>>>>>>>>*/

.home-page {
  background: #e9e9e9;
  position: relative;
  margin: 120px 0 100px 0;
  color: #666666;
  padding: 230px 70px;
}
.home-boxes {
  background: #7b7777;
  padding: 10px;
  margin: 0 10px;
}
.home-content-move::before {
  height: 70%;
}
.home-content-before::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  width: 3px;
  background: #7d0909;
  z-index: 5;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

#home-page-content h2 {
  text-align: center;
  color: #7497b1;
  font-size: 32px;
  margin-top: -104px;
  font-weight: bold;
}
#home-page-content p {
  margin-top: 60px;
  margin-left: 20px;
  font-size: 22px;
  letter-spacing: 1px;
  color: #333;
}
#home-page-content ul {
  margin-left: 33px;
}
#home-page-content ul li {
  list-style: none;
  font-size: 20px;
  color: #333 !important;
  display: list-item;
  line-height: 48px;
}
#home-page-content ul li::before {
  content: "\f00c";
  font-family: FontAwesome;
  position: absolute;
  left: 85px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15px;
  width: 20px;
  height: 20px;
  font-size: 22px;
  color: #7d0909;
  z-index: 1;
  margin-left: 28px;
}
.home-page-boxes {
  position: absolute;
  min-width: 580px;
  top: -75px;
  left: 46%;
  padding: 12px;
}

/*<<<<<<<<<<<< About Page >>>>>>>>>>>*/

.about-us {
  background: #e9e9e9;
  position: relative;
  margin: 130px 0 100px 0;
}
.about-content {
  text-align: center;
  line-height: 29px;
  padding: 120px 90px;
}
.about-content h2 {
  margin-top: 0;
  color: #7497b1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 31px;
}
.about-content p {
  color: #333 !important;
  font-size: 22px;
  text-align: justify;
}
.about-link {
  text-decoration: none;
  margin-top: 48px;
  background-color: #444343;
  display: inline-block;
  font: normal 14px/26px "Roboto Condensed";
}
.about-link p {
  color: #ffffff !important;
  font-weight: 700;
  font-size: 16px !important;
  padding: 0 30px;
}
.about-link:hover {
  background-color: #7d0909;
}
.about-right-column {
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 30px;
  position: absolute !important;
  top: -75px;
  right: 45px;
  bottom: 0px;
  width: 48%;
}
.about-right-column img {
  object-fit: cover;
  width: 100%;
}

/*<<<<<<<<<<<< Our team >>>>>>>>>>>*/

.our-about #about-content {
  width: 50%;
}
.about-paragraf {
  text-align: center !important;
  padding-bottom: 10%;
  line-height: 35px;
}
.about-paragraf + .about-link {
  margin-bottom: 9%;
}

.our-team {
  position: absolute;
  top: -30px;
  right: 45px;
  left: 50%;
}
.member-box-path > div {
  width: 30% !important;
  margin: 15px;
}
.members-box {
  padding: 0px 15px;
  margin: 13px 0;
  background: #fff;
  border-radius: 5px;
}

.team-thumb {
  overflow: hidden;
  max-height: 170px;
  width: 100%;
}
.team-thumb img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.team-infobox h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 5px;
  text-align: center;
  line-height: 22px;
  color: #444343 !important;
  margin-bottom: 0;
  height: 45px;
}
.team-infobox-link {
  text-decoration: none;
  text-align: center;
  background-color: rgba(68, 67, 67, 0.5);
  padding: 0 10px;
  color: #fff !important;
  transition: all 0.5s linear;
}
#team-id-hover {
  background-color: #7d0909 !important;
  color: #fff !important;
  text-decoration: none;
  text-align: center;
}
#position-hover {
  font-size: 8px !important;
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  background-color: #7d0909 !important;
  display: block;
}

/*<<<<<<<<<<<< Contact >>>>>>>>>>>*/

.contact-section {
  line-height: 22px;
  margin: 0 auto;
  overflow: hidden;
}
.contact-header {
  justify-content: center;
  color: #7d0909;
  line-height: 4px;
  padding-bottom: 130px;
  font-size: 39px;
}

.contact-info-box {
  padding-top: 85px;
  padding-bottom: 0;
  margin-left: 70px;
}
.contact-info {
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
}
.contact-info h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #444343;
}
.contact-info p {
  font-size: 20px;
}
.contact-info strong {
  color: #7d0909;
  font-weight: bold;
}

.input-box-form input,
.input-box-form textarea {
  font: 400 17px Arial;
  background: #7b7777;
  padding: 15px 17px;
  border: none;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.05);
}

.input-box-form textarea {
  height: 120px;
  width: 91.5%;
  margin-bottom: 5%;
  margin-top: 15px;
  margin-right: 10px;
}
.input-box-submit {
  color: #ffffff !important;
  background: #7497b1 !important;
  font-size: 20px !important;
  width: 22% !important;
}

.input-div {
  margin: 15px 0;
}
.input-box input {
  width: 73%;
  padding-right: 50px;
}
.input-field-text {
  display: block;
  color: #f00;
  font-size: 19px;
  font-weight: normal;
}
#input-id {
  height: 75px !important;
}
.loding-send {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  margin: 0 0 0 4px;
  background-size: 20px;
  background-image: url("https://www.sitepoint.com/demos/loading-images/img/small/Sun%20loader.gif");
}
.map iframe {
  height: 810px;
  width: 100%;
}
.send-massage,
.error-massage {
  border: 2px solid #f7e700;
  margin-top: -20px;
  margin-right: 70px;
  margin-left: 10px;
  text-indent: 290px;
  padding: 5px 15px 5px 15px;
  color: #666666 !important;
  line-height: 27px;
  font-size: 16.5px;
}
.send-massage {
  border-color: #398f14 !important;
}

/*<<<<<<<<<< Footer >>>>>>>>>>>*/

.footer {
  background-color: #212121 !important;
  margin-top: 100px;
}
.footer-menu {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 80px;
  text-align: center;
}

.footer-menu .nav-link {
  font-size: 15px !important;
  font-weight: bold;
  color: #e9e8e8;
  padding: 0 30px;
}
.footer-menu .menu-alert-service {
  bottom: 80px !important;
  left: 40%;
  position: absolute;
  top: auto;
  background-color: #212121;
}
.footer-menu .menu-alert-admin-service,
.footer-menu .menu-alert-financ-service {
  top: auto;
  position: absolute;
  bottom: 80px !important;
  left: 58%;
  background-color: #212121;
}
.footer-menu .menu-alert-about {
  top: auto;
  position: absolute;
  bottom: 80px !important;
  background-color: #212121;
  width: 150px;
}
.footer-menu .nav-link:hover::before {
  width: 0;
}
.copyrigth {
  background-color: #1c1c1c;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyrigth p {
  text-align: center;
  color: #fff !important;
  font-size: 19px;
}
