@media only screen and (min-width: 2200px) {
  .start-page #start-page-content::before {
    top: 350px !important;
  }
}
@media only screen and (min-width: 1500px) {
  .logo {
    width: 450px !important;
  }
  .logo img {
    margin-left: 90px;
  }
  .menu-list {
    width: inherit !important;
  }
  .menu-alert-service {
    left: 400px;
    width: 275px;
  }
  .menu-alert-financ-service,
  .menu-list .menu-alert-admin-service {
    left: 675px;
    width: 275px;
  }
  .menu-alert-about {
    left: 600px;
    width: 130px;
  }
  .contact-box {
    width: 332px !important;
  }
  .start-page {
    padding: 0;
  }
  .services {
    padding-bottom: 80px !important;
  }
  #services-content {
    margin-top: 0 !important;
  }
  .home-page {
    padding-bottom: 80px !important;
  }
  .our-about {
    margin: 0 !important;
  }
  .members-box {
    height: 250px !important;
  }
  .team-thumb {
    height: 200px !important;
  }
  .footer-menu .nav-div {
    display: flex;
    justify-content: center;
  }
  #start-page-content::before {
    top: 320px !important;
  }
}
@media only screen and (min-width: 1770px) {
  .about-right-column img {
    object-fit: contain;
    width: auto;
    height: 100%;
  }
}
@media only screen and (max-width: 1280px) {
  .nav-bar {
    height: 60px !important;
  }
  .menu-list .menu-alert-about,
  .menu-list .menu-alert-service,
  .menu-list .menu-alert-admin-service {
    top: 60px;
  }
  .nav {
    width: 82%;
  }
  .menu-list {
    margin-left: -10%;
  }
  .nav-link {
    font-size: 18px !important;
  }
  .logo img {
    width: 130px !important;
    margin-left: 0%;
  }
  .menu-alert-service {
    left: 29%;
  }
  .menu-alert-admin-service {
    left: 47%;
  }
  @keyframes changeTopService {
    from {
      top: 110px;
    }
    to {
      top: 90px;
    }
  }
  @keyframes changeTop {
    from {
      top: 90px;
    }
    to {
      top: 60px;
    }
  }
  .menu-alert-financ-service {
    top: 90px;
    left: 47%;
  }
  .menu-alert-about {
    left: 39%;
  }
}

@media only screen and (max-width: 1164px) {
  .start-page .column-move::before {
    height: 0 !important;
  }
  .phone-box {
    margin-left: 0%;
  }
  .logo {
    width: 40%;
    margin-left: 5%;
    justify-content: flex-end !important;
  }

  .contact-box {
    width: 60%;
    margin-left: -5px;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .mail-box {
    margin-left: 0;
  }

  #start-page-content h3 {
    width: 43%;
  }
  .menu-list {
    display: none !important;
  }
  .hidden-menu {
    display: flex !important;
    justify-content: center;
    color: white;
    top: 20px;
    font-size: 20px;
    position: absolute;
    left: 3%;
  }

  .nav-bottom-menu .nav {
    justify-content: flex-start;
    padding: 0;
  }
  .nav-bottom-menu .nav-link {
    padding: 0 24.5px;
  }
  .nav-bottom-menu .nav span {
    left: 80%;
  }

  .contact-box {
    width: 61%;
    justify-content: flex-start !important;
  }
  .column-move::before {
    height: 0;
  }
  .services {
    padding: 0 !important;
  }
  #services-content {
    padding: 0 4%;
  }
  .services-boxes {
    margin: 0;
    width: 100%;
  }
  .services,
  .home-page,
  .about-us {
    flex-flow: wrap !important;
  }
  #services-content {
    margin: 30px 0 !important;
  }
  .home-page {
    padding-bottom: 0 !important;
    padding: 0;
  }
  #home-page-content p {
    margin-left: 40px;
  }
  #home-page-content ul li {
    margin-left: 50px;
  }
  .services-box-great {
    margin: 1px 3% 15px 3%;
  }
  .home-boxes {
    margin: 0 !important;
  }
  .home-page-boxes {
    padding: 0;
  }
  .services-box-great h3 {
    font-size: 12px;
  }
  .nav-bottom-menu {
    display: block !important;
    background-color: #7497b1;
    height: 60px;
  }
  .nav-bottom-menu .nav-div {
    display: flex !important;
    width: 1920px !important;
  }
  .nav-bottom-menu .menu-alert-service {
    left: 5%;
    top: 60px;
    width: 220px;
  }
  .nav-bottom-menu .menu-alert-admin-service,
  .nav-bottom-menu .menu-alert-financ-service {
    left: 16.4%;
    top: 56px;
    width: 220px;
  }
  .nav-bottom-menu .menu-alert-about {
    left: 11.5%;
    top: 56px;
    width: 150px;
  }
  .nav-bottom-menu .nav-link:hover::before {
    width: 100%;
  }
  .nav-bottom-menu .alert-menu .nav-link:hover::before {
    width: 80%;
  }
  .start-page {
    margin-top: 60px;
  }
  #start-page-content {
    padding: 0 10px;
  }
  #start-page-content h2 {
    line-height: 20px;
    font-size: 36px !important;
  }
  #start-page-content h3 {
    margin-top: 60px !important;
  }
  #start-page-content h4 {
    margin-top: 0 !important;
  }

  .column-hover-move,
  .column-move,
  .parent-services-box,
  #start-page-content,
  #about-content {
    width: 100% !important;
  }
  .about-us {
    margin: 20px 0;
  }

  .about-content {
    padding: 1% 5%;
  }
  .about-paragraf + .about-link {
    margin-bottom: 5%;
  }
  .about-paragraf + .about-link {
    margin-top: 0 !important;
  }
  #position-hover {
    font-size: 60% !important;
  }
  .services-boxes,
  .home-page-boxes,
  .about-right-column {
    position: static !important;
    width: 100%;
  }
  .about-right-column {
    width: 100%;
    margin-left: 20%;
  }
  .about-right-column img {
    width: 60% !important;
    justify-content: center !important;
  }

  .input-box-form textarea {
    width: 100%;
  }
  .service-box-path h1 {
    font-size: 100% !important;
  }
  .our-about {
    width: 100%;
  }
  .our-team {
    position: static;
    width: 56%;
    margin-left: 22%;
  }

  .member-box-path > div {
    margin: 10px;
  }
  .footer-menu .nav-link {
    font-size: 15px !important;
    padding: 0 10px;
  }
  .footer-menu {
    display: none;
  }
  .input-box-submit {
    width: 130px !important;
  }
}
@media only screen and (max-width: 1040px) {
  .nav-bar {
    padding: 0 !important;
  }
  .start-page {
    margin-top: 60px !important;
  }
  .contact-data {
    flex-wrap: wrap;
  }

  .contact-info-box {
    padding-top: 0;
    margin-left: 5%;
  }
  .contact-data > div {
    width: 90%;
    margin-left: 5%;
  }
  .map {
    margin-top: 4%;
    height: 400px !important;
  }
}
@media only screen and (max-width: 1010px) {
  .our-team {
    position: static;
    width: 80%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 970px) {
  .services-box h3,
  .services-box-smoll h3,
  .services-box-great h3 {
    font-size: 12px;
    line-height: 20px;
  }
  #home-page-content ul li {
    line-height: 23px;
    margin-left: 50px;
  }
}
@media only screen and (max-width: 800px) {
  #position-hover {
    font-size: 10px !important;
  }
}
@media only screen and (max-width: 766px) {
  .logo,
  .contact-box {
    width: 85%;
    display: flex;
    justify-content: center !important;
  }

  .nav-bar {
    padding: 1% 0 !important;
  }
  .start-page {
    padding: 0px;
    margin-top: 116px !important;
  }
  #start-page-content h2 {
    font-size: 22px !important;
    line-height: 10px !important;
  }
  #start-page-content h3 {
    line-height: 24px;
    margin-top: 20px !important;
    font-size: 15px !important;
    width: 50%;
  }
  #start-page-content h4 {
    font-size: 15px !important;
    letter-spacing: 0px;
  }
  #home-page-content ul li::before {
    left: 3% !important;
  }
  #home-page-content ul li {
    margin-left: 10px;
  }
  .contact-box {
    font-size: 15px;
    line-height: 8px;
    margin-left: 4%;
    margin-top: 0;
  }
  .contact-link {
    line-height: 2px;
  }
  .menu-list-blok {
    display: block !important;
    background-color: #7497b1;
  }
  .nav-bar {
    height: 116px !important;
    padding: 0 !important;
  }
  .our-about {
    margin: 0 !important;
  }
  .logo img {
    width: 185px !important;
    margin-left: -25%;
  }

  .larg-nav-bar {
    height: 240px !important;
    position: relative;
  }

  .menu-list-blok .nav-div {
    position: absolute;
    width: 100% !important;
  }
  .menu-list-blok {
    margin-top: -40px;
  }

  .menu-list-blok .nav-link {
    display: block;
    width: 100%;
  }
  .menu-list-blok .nav-link:hover::before {
    display: none;
  }
  .larg-nav-bar .logo {
    top: 3.6%;
    position: absolute;
    left: 10%;
  }

  .menu-list-blok .nav-div {
    margin-left: -30px;
    margin-top: 20px;
  }
  .menu-list-blok .nav {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-top: -40px !important;
  }
  .menu-list-blok .nav li {
    display: flex;
    width: 80px;
  }
  .menu-list-blok .nav li .nav-link span {
    margin-top: -8px;
  }
  .menu-list-blok .nav-link,
  .menu-alert-service .nav-link {
    font-size: 15px !important;
    line-height: 30px;
    margin-left: 8%;
  }
  .menu-alert-service .nav-link,
  .menu-alert-financ-service .nav-link,
  .menu-alert-admin-service .nav-link,
  .menu-alert-about .nav-link {
    margin: 0 !important;
    line-height: 20px;
  }
  .menu-alert-service,
  .menu-alert-about,
  .menu-alert-admin-service,
  .menu-alert-financ-service {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    clip: rect(0, 5000px, 5000px, 0);
  }

  .menu-list-blok .menu-alert-service {
    position: absolute !important;
    width: 200px !important;
    justify-content: start !important;
    margin-left: 30px !important;
    margin-top: -50px !important;
    animation: changeTopMobileMenu 2s alternate !important;
  }
  .menu-list-blok .menu-alert-service .nav-link {
    padding-left: 10%;
    font-size: 15px !important;
  }
  .menu-list-blok .menu-alert-financ-service,
  .menu-list-blok .menu-alert-admin-service {
    position: absolute;
    width: 200px !important;
    left: 230px;
    top: 22px;
    animation: changeTopMobileMenu 2s alternate !important;
  }

  .menu-list-blok .menu-alert-about {
    position: absolute !important;
    width: 100px;
    margin-left: 40px !important;
    margin-top: -20px !important;
    animation: changeTopMobileMenu 2s alternate !important;
  }
  @keyframes changeTopMobileMenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .menu-list-blok .menu-alert-service {
    position: static;
    width: 150px;
    margin-left: 7%;
    margin-top: -15%;
  }
  .larg-nav-bar .contact-box {
    position: absolute;
    bottom: 10px;
  }
  .nav-bottom-menu {
    display: none !important;
  }
  .nav-bar {
    flex-wrap: wrap;
  }
  .services {
    margin-top: 75px !important;
    padding-bottom: 80px !important;
  }
  #services-content {
    margin-top: 0 !important;
  }
  .home-page {
    margin-top: 50px;
    padding-bottom: 80px !important;
  }
  .about-us {
    margin-bottom: 100px;
  }
  .home-page-boxes {
    min-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .about-content {
    padding: 20px !important;
    padding-bottom: 70px !important;
  }
  .about-content p {
    line-height: 1.5;
  }
  .about-right-column {
    display: none;
  }

  .team-infobox h3 {
    font-size: 13px;
  }
  .our-team {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .member-box-path > div {
    margin: 10px;
  }

  .member-box-path > div {
    width: 300px !important;
  }
  .contact-header {
    font-size: 32px !important;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 600px) {
  .team-thumb {
    width: 100%;
    min-height: 100px;
  }
  .members-box {
    min-height: 100px;
  }
  .member-box-path > div {
    width: 150px !important;
  }
  #position-hover {
    line-height: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .start-page {
    margin-top: 100px !important;
  }
  .service-box-path > div > div {
    width: 73% !important;
    margin: 2% 0;
  }

  .service-box-path > div {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .home-boxes > div {
    width: 73%;
  }

  .home-boxes {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-header > div p {
    font-size: 15px !important;
    line-height: 20px;
  }
  .input-div input {
    width: 100% !important;
    min-width: 30%;
  }
  .input-div {
    width: 100% !important;
    margin-right: 5% !important;
  }
  .input-box-form > div {
    flex-wrap: wrap !important;
  }
  .menu-list-blok .nav-link {
    font-size: 13px !important;
  }
  .menu-alert-service .nav-link {
    font-size: 12px !important;
  }
}
@media only screen and (max-width: 430px) {
  .services-box h3,
  .services-box-smoll h3,
  .services-box-great h3 {
    font-size: 14px;
  }
  #home-page-content ul li {
    line-height: 38px;
  }
  .home-boxes > div {
    width: 100%;
  }
  .services-box-great {
    height: 230px;
    margin: 1px 4px 15px 4px;
  }
}
@media only screen and (max-width: 400px) {
  .member-box-path {
    flex-wrap: wrap;
    justify-content: center;
  }
  #home-page-content ul li {
    line-height: 23px;
  }
  #start-page-content h2 {
    line-height: 28px !important;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 370px) {
  .contact-link {
    font-size: 12px;
    line-height: 9px;
  }
  .logo {
    margin-left: 25% !important;
  }
}
